<% title(_("Trends for %s") % trend_title(@trend)) %>
<% content_for(:search_bar) { trend_days_filter(@trend) } %>
<div class="row">
  <div class="col-md-12">
    <div class="stats-well trends-chart">
      <h4 class="ca"><%= "#{trend_title(@trend)}" %></h4>
      <h6 class="ca"><%= n_("last %s day", "last %s days", trends_range) % trends_range %></h6>
      <%= react_component('AreaChart', yAxisLabel: _('Number of Hosts'), data: trend_chart_data(@trend, trends_range.days.ago)) %>
    </div>
  </div>
</div>
<table class="table">
  <% unless @trend.fact_value.nil? %>
    <thead>
      <tr>
        <th colspan="4"><%= _("Hosts") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= render 'hosts' %>
      </tr>
    </tbody>
  <% end %>
</table>
